.embla {
  width: 100vw;
  margin: auto;
  padding-top: 10rem;
  --slide-height: 15rem;
  --slide-spacing: 1rem;
  --slide-size: 20rem;

  .topElipse, .bottomElipse {
    clip-path: ellipse(50% 5% at 50% 50%);
    width: 100vw;
    height: 30rem;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 10;
  }

  .topElipse {
    top: -2rem;
  }

  .bottomElipse {
    top: 24rem;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);

  div {
    width: 100%;
    height: 26rem;
    background-size: cover;
  }
}

@media screen and (min-width: 1000px) {
  .embla {
    .topElipse, .bottomElipse {
      clip-path: ellipse(50% 15% at 50% 50%);
    }
  }
}
